.block {
  display: flex;
  justify-content: center;
  margin-top: 75px;
}
img {
  width: 200px;
  height: 200px;
}
.btnBlock {
  text-align: center;
  padding-top: 30px;
}
.btnBlock button {
  width: 70px;
  height: 35px;
  font-size: 18px;
}
.paragraph p {
  display: inline;
}
.paragraph {
  margin-bottom: 10px;
}
