.elem label p {
  display: inline;
}
.elem label {
  display: block;
}
.elem {
  cursor: pointer;
  margin: 45px;
  padding: 21px;
  box-shadow: -5px 9px 17px 3px #3c3c3c;
  background: #afafaf;
  font-size: 20px;
  font-family: sans-serif;
}
#elemBlock {
  display: flex;
  flex-wrap: wrap;
}
